<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imobpay.base.dao.PrepClientVersionDao">


	<sql id="paramSql">
		<!-- 此处一定要增加一个查询 -->
		<if test="instrVersion !=null and instrVersion !=''">
			AND INSTR_VERSION = #{instrVersion}
		</if>
		<if test="shopno !=null and shopno !=''">
			AND SHOPNO = #{shopno}
		</if>
		<if test="branchid !=null and branchid !=''">
			AND BRANCHID = #{branchid}
		</if>
		<if test="clientAlias !=null and clientAlias !=''">
			AND CLIENT_ALIAS = #{clientAlias}
		</if>
		<if test="updatePath !=null and updatePath !=''">
			AND UPDATE_PATH = #{updatePath}
		</if>
		<if test="isMustUpdate !=null and isMustUpdate !=''">
			AND IS_MUST_UPDATE = #{isMustUpdate}
		</if>
		<if test="updateContent !=null and updateContent !=''">
			AND UPDATE_CONTENT = #{updateContent}
		</if>
		<if test="appid !=null and appid !=''">
			AND APPID = #{appid}
		</if>
		<if test="key !=null and key !=''">
			AND KEY = #{key}
		</if>
		<if test="versionstatus !=null and versionstatus !=''">
			AND VERSIONSTATUS = #{versionstatus}
		</if>
		<if test="appuser !=null and appuser !=''">
			AND APPUSER = #{appuser}
		</if>
		<if test="clientType !=null and clientType !=''">
			AND CLIENT_TYPE = #{clientType}
		</if>
		<if test="clientVersion !=null and clientVersion !=''">
			AND CLIENT_VERSION = #{clientVersion}
		</if>
	</sql>

	<parameterMap type="com.imobpay.base.entity.PrepClientVersion" id="paramIdPrepClientVersion">
		<parameter property="pageflag" javaType="Boolean" jdbcType="VARCHAR" mode="IN" />
		<parameter property="curPage" javaType="Integer" jdbcType="NUMERIC" mode="IN" />
		<parameter property="pageSize" javaType="Integer" jdbcType="NUMERIC" mode="IN" />
		<parameter property="instrVersion" javaType="String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="shopno" javaType="String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="branchid" javaType="String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="clientAlias" javaType="String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="updatePath" javaType="String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="isMustUpdate" javaType="Integer" jdbcType="NUMERIC" mode="IN" />
		<parameter property="updateContent" javaType="String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="appid" javaType="String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="key" javaType="String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="versionstatus" javaType="String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="appuser" javaType="String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="clientType" javaType="String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="clientVersion" javaType="String" jdbcType="VARCHAR" mode="IN" />

	</parameterMap>

	<resultMap type="com.imobpay.base.entity.PrepClientVersion" id="resultTbPrepClientVersion">
		<result column="INSTR_VERSION" property="instrVersion" />
		<result column="SHOPNO" property="shopno" />
		<result column="BRANCHID" property="branchid" />
		<result column="CLIENT_ALIAS" property="clientAlias" />
		<result column="UPDATE_PATH" property="updatePath" />
		<result column="IS_MUST_UPDATE" property="isMustUpdate" />
		<result column="UPDATE_CONTENT" property="updateContent" />
		<result column="APPID" property="appid" />
		<result column="KEY" property="key" />
		<result column="VERSIONSTATUS" property="versionstatus" />
		<result column="APPUSER" property="appuser" />
		<result column="CLIENT_TYPE" property="clientType" />
		<result column="CLIENT_VERSION" property="clientVersion" />
	</resultMap>

	<select id="selectById" parameterMap="paramIdPrepClientVersion" resultMap="resultTbPrepClientVersion">
		SELECT * FROM PREP_CLIENT_VERSION WHERE 1=1 AND ROWNUM = 1
		<include refid="paramSql"></include>
	</select>

	<select id="list" parameterMap="paramIdPrepClientVersion" resultMap="resultTbPrepClientVersion">
		<if test="pageflag==true">
			SELECT * FROM (
			SELECT A.*, ROWNUM RN FROM
			(
			SELECT * FROM
			PREP_CLIENT_VERSION WHERE 1=1
			<include refid="paramSql"></include>
			) A WHERE ROWNUM &gt;= #{curPage}*#{pageSize}
			) WHERE RN &lt;=
			(#{curPage}-1)*#{pageSize}
		</if>
		<if test="pageBlag==false">
			SELECT * FROM PREP_CLIENT_VERSION
			WHERE 1=1
			<include refid="paramSql"></include>
		</if>
	</select>

	<select id="listCount" parameterMap="paramIdPrepClientVersion" resultType="Integer">
		SELECT count(1) as count FROM PREP_CLIENT_VERSION
		WHERE 1=1
		<include refid="paramSql"></include>
	</select>

	<!-- 添加 -->
	<insert id="insert" parameterMap="paramIdPrepClientVersion">
		INSERT INTO
		PREP_CLIENT_VERSION(
		<if test="instrVersion !=null and instrVersion !=''">

			INSTR_VERSION
		</if>
		<if test="shopno !=null and shopno !=''">
			,
			SHOPNO
		</if>
		<if test="branchid !=null and branchid !=''">
			,
			BRANCHID
		</if>
		<if test="clientAlias !=null and clientAlias !=''">
			,
			CLIENT_ALIAS
		</if>
		<if test="updatePath !=null and updatePath !=''">
			,
			UPDATE_PATH
		</if>
		<if test="isMustUpdate !=null and isMustUpdate !=''">
			,
			IS_MUST_UPDATE
		</if>
		<if test="updateContent !=null and updateContent !=''">
			,
			UPDATE_CONTENT
		</if>
		<if test="appid !=null and appid !=''">
			,
			APPID
		</if>
		<if test="key !=null and key !=''">
			,
			KEY
		</if>
		<if test="versionstatus !=null and versionstatus !=''">
			,
			VERSIONSTATUS
		</if>
		<if test="appuser !=null and appuser !=''">
			,
			APPUSER
		</if>
		<if test="clientType !=null and clientType !=''">
			,
			CLIENT_TYPE
		</if>
		<if test="clientVersion !=null and clientVersion !=''">
			,
			CLIENT_VERSION
		</if>
		)
		VALUES(
		<if test="instrVersion !=null and instrVersion !=''">

			#{instrVersion}
		</if>
		<if test="shopno !=null and shopno !=''">
			,
			#{shopno}
		</if>
		<if test="branchid !=null and branchid !=''">
			,
			#{branchid}
		</if>
		<if test="clientAlias !=null and clientAlias !=''">
			,
			#{clientAlias}
		</if>
		<if test="updatePath !=null and updatePath !=''">
			,
			#{updatePath}
		</if>
		<if test="isMustUpdate !=null and isMustUpdate !=''">
			,
			#{isMustUpdate}
		</if>
		<if test="updateContent !=null and updateContent !=''">
			,
			#{updateContent}
		</if>
		<if test="appid !=null and appid !=''">
			,
			#{appid}
		</if>
		<if test="key !=null and key !=''">
			,
			#{key}
		</if>
		<if test="versionstatus !=null and versionstatus !=''">
			,
			#{versionstatus}
		</if>
		<if test="appuser !=null and appuser !=''">
			,
			#{appuser}
		</if>
		<if test="clientType !=null and clientType !=''">
			,
			#{clientType}
		</if>
		<if test="clientVersion !=null and clientVersion !=''">
			,
			#{clientVersion}
		</if>
		)
	</insert>

	<!-- 修改 -->
	<update id="update">
		UPDATE PREP_CLIENT_VERSION SET
		<if test="instrVersion !=null and instrVersion !=''">

			INSTR_VERSION = #{instrVersion}
		</if>
		<if test="shopno !=null and shopno !=''">
			,
			SHOPNO = #{shopno}
		</if>
		<if test="branchid !=null and branchid !=''">
			,
			BRANCHID = #{branchid}
		</if>
		<if test="clientAlias !=null and clientAlias !=''">
			,
			CLIENT_ALIAS = #{clientAlias}
		</if>
		<if test="updatePath !=null and updatePath !=''">
			,
			UPDATE_PATH = #{updatePath}
		</if>
		<if test="isMustUpdate !=null and isMustUpdate !=''">
			,
			IS_MUST_UPDATE = #{isMustUpdate}
		</if>
		<if test="updateContent !=null and updateContent !=''">
			,
			UPDATE_CONTENT = #{updateContent}
		</if>
		<if test="appid !=null and appid !=''">
			,
			APPID = #{appid}
		</if>
		<if test="key !=null and key !=''">
			,
			KEY = #{key}
		</if>
		<if test="versionstatus !=null and versionstatus !=''">
			,
			VERSIONSTATUS = #{versionstatus}
		</if>
		<if test="appuser !=null and appuser !=''">
			,
			APPUSER = #{appuser}
		</if>
		<if test="clientType !=null and clientType !=''">
			,
			CLIENT_TYPE = #{clientType}
		</if>
		<if test="clientVersion !=null and clientVersion !=''">
			,
			CLIENT_VERSION = #{clientVersion}
		</if>
		WHERE 1=1
		<include refid="paramSql"></include>
	</update>

</mapper>
