<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imobpay.base.dao.TbCardBusinessLimitDao">


	<sql id="paramSql">
		<!-- 此处一定要增加一个查询 -->
		<if test="status !=null and status !=''">
			AND STATUS = #{status}
		</if>
		<if test="statusTime !=null and statusTime !=''">
			AND STATUS_TIME = #{statusTime}
		</if>
		<if test="transType !=null and transType !=''">
			AND TRANS_TYPE = #{transType}
		</if>
		<if test="transNo !=null and transNo !=''">
			AND TRANS_NO = #{transNo}
		</if>
	</sql>

	<parameterMap type="com.imobpay.base.entity.TbCardBusinessLimit" id="paramIdTbCardBusinessLimit">
		<parameter property="pageflag" />
		<parameter property="curPage" />
		<parameter property="pageSize" />
		<parameter property="status" />
		<parameter property="statusTime" />
		<parameter property="transType" />
		<parameter property="transNo" />
	</parameterMap>

	<resultMap type="com.imobpay.base.entity.TbCardBusinessLimit" id="resultTbTbCardBusinessLimit">
		<result column="STATUS" property="status" />
		<result column="STATUS_TIME" property="statusTime" />
		<result column="TRANS_TYPE" property="transType" />
		<result column="TRANS_NO" property="transNo" />
	</resultMap>

	<select id="selectById" parameterMap="paramIdTbCardBusinessLimit" resultMap="resultTbTbCardBusinessLimit">
		SELECT * FROM TB_CARD_BUSINESS_LIMIT WHERE 1=1 AND ROWNUM = 1
		<include refid="paramSql"></include>
	</select>

	<select id="list" parameterMap="paramIdTbCardBusinessLimit" resultMap="resultTbTbCardBusinessLimit">
		<if test="pageflag==true">
			SELECT * FROM (
			SELECT A.*, ROWNUM RN FROM
			(
			SELECT * FROM
			TB_CARD_BUSINESS_LIMIT WHERE 1=1
			<include refid="paramSql"></include>
			) A WHERE ROWNUM &gt;= #{curPage}*#{pageSize}
			) WHERE RN &lt;=
			(#{curPage}-1)*#{pageSize}
		</if>
		<if test="pageBlag==false">
			SELECT * FROM TB_CARD_BUSINESS_LIMIT
			WHERE 1=1
			<include refid="paramSql"></include>
		</if>
	</select>

	<select id="listCount" parameterMap="paramIdTbCardBusinessLimit" resultType="Integer">
		SELECT count(1) as count FROM TB_CARD_BUSINESS_LIMIT
		WHERE 1=1
		<include refid="paramSql"></include>
	</select>

	<!-- 添加 -->
	<insert id="insert" parameterMap="paramIdTbCardBusinessLimit">
		INSERT INTO
		TB_CARD_BUSINESS_LIMIT(
		<if test="status !=null and status !=''">

			STATUS
		</if>
		<if test="statusTime !=null and statusTime !=''">
			,
			STATUS_TIME
		</if>
		<if test="transType !=null and transType !=''">
			,
			TRANS_TYPE
		</if>
		<if test="transNo !=null and transNo !=''">
			,
			TRANS_NO
		</if>
		)
		VALUES(
		<if test="status !=null and status !=''">

			#{status}
		</if>
		<if test="statusTime !=null and statusTime !=''">
			,
			#{statusTime}
		</if>
		<if test="transType !=null and transType !=''">
			,
			#{transType}
		</if>
		<if test="transNo !=null and transNo !=''">
			,
			#{transNo}
		</if>
		)
	</insert>

	<!-- 修改 -->
	<update id="update">
		UPDATE TB_CARD_BUSINESS_LIMIT SET
		<if test="status !=null and status !=''">

			STATUS = #{status}
		</if>
		<if test="statusTime !=null and statusTime !=''">
			,
			STATUS_TIME = #{statusTime}
		</if>
		<if test="transType !=null and transType !=''">
			,
			TRANS_TYPE = #{transType}
		</if>
		<if test="transNo !=null and transNo !=''">
			,
			TRANS_NO = #{transNo}
		</if>
		WHERE 1=1
		<include refid="paramSql"></include>
	</update>
	<!-- 判断当前手机号是否受限 -->
	<select id="selecrByMobLimit" parameterMap="paramIdTbCardBusinessLimit" resultType="Integer">
		SELECT COUNT(1) FROM TB_CARD_BUSINESS_LIMIT T WHERE
		T.STATUS='1'
		AND T.TRANS_TYPE='3' AND
		(T.TRANS_NO=#{transNo}
		OR
		T.TRANS_NO=#{transNoSub})
	</select>
</mapper>